<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dancing+Script:wght@400;600&family=Josefin+Sans&family=Poppins:ital,wght@0,300;1,200&family=Roboto+Slab:wght@100;200;300&family=Roboto:ital,wght@0,400;0,500;1,500&display=swap');
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/learn.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Узнать больше</title>
</head>
<body>
    <div class="intro">
        <div class="form">
            <h1 class="logo">Что такое akLina?</h1>
            <hr class="line">
            <p class="sub_logo">Поиск информации, общение с друзьями - это то чем занимается почти каждый современный человек.</p> 
            <p class="sub_logo">И мой сайт представляет собой смесь этих двух важнейших вещей в наше время.</p>
            <p class="sub_logo">akLina - это социальная сеть, в которой Вы можете общаться с друзьями, искать информация и играть в браузерные игры.</p>
        </div>
    </div>
</body>
</html>